<div class="mp-search-bar m-t-10">
    <h4>Search Movie</h4>
    <div class="mp-searchInput">
        <input 
            id="mp-search-input"
            #searchInput
            type="text" 
            (keyup)="searchMovies($event)"
            placeholder="eg. Conjuring"
        />
        <i class="fa fa-search mp-search-icon" title="Search Movie"></i>
    </div>
    <div class="mp-select-plot">
        <fieldset>
            <input type="radio" checked="checked" [value]="movie.plot[0]" name="plot" id="mp-fullPlot"> 
            <label for="mp-fullPlot">Full</label>
        </fieldset>
        <fieldset>
            <input #plotShortSelect type="radio" name="plot" [value]="movie.plot[1]" id="mp-shortPlot">
            <label for="mp-shortPlot">Short</label>
        </fieldset>
    </div>
</div>
