@import './../../../assets/variable';

.mp-search-bar {
    width: 100%;
    margin: 10px auto 30px;
    float: left;
    
    h4 { 
        margin: 10px 15px;
        float: left;
    }
    .mp-searchInput {
        position: relative;
        float: left;
        
        input {
            width: 300px;
            padding: 10px 50px 10px 20px;
            border: none;
            border-radius: 50px;
            height: 20px;
            box-shadow: 0px 0px 0 8px rgba(0,0,0,0.2);
        }
    
        .mp-search-icon {
            position: absolute;
            right: 10px;
            color: $base-bgColor;
            top: 12px;
            cursor: pointer;
        }
    }
    .mp-select-plot {
        float: left;
        margin: 10px 15px;
        width: 200px;
        
        fieldset {
            display: inline-block;
            margin-right: 15px;
            input { margin-right: 5px; }
        }
    }
}