<section class="mp-featured-movies mp-movies-wrap">
    <h2>Featured Movies</h2>

    <div class="mp-movie-tile" *ngFor="let movie of featuredMovies">
        <figure>
            <img [src]="movie.Poster"/>
        </figure>
        <div class="mp-fm-details">
            <h3>{{movie.Title}}</h3>
            <p><i class="fa fa-calendar"></i>{{movie.Released | date: 'dd, MMMM yyyy'}}</p>
            <p><i class="fa fa-trophy"></i>{{movie.Awards}}</p>
            <div class="m-t-5">
                <i class="fa fa-book"></i><label>Plot</label>
                <p>{{movie.Plot}}</p>
            </div>
            <button class="mp-booknow">Book Now</button>
        </div>
    </div>
    <h4 class="notFound" *ngIf="pageNotFound">This service is currently unavailable..!</h4>
</section>