<section class="mp-search-results mp-movies-wrap">
    <h2>Search Results
        <a href="/" class="mp-back-nav">
            <i class="fa fa-arrow-left"></i>
            <label>Back to Homepage</label>
        </a>
    </h2>

    <div class="mp-movie-tile" *ngFor="let movie of searchedMovies">
        <figure>
            <img [src]="movie.Poster" onError="this.src='http://davidbeltran.net/wp-content/uploads/2015/02/default-poster.jpg';"/>
        </figure>
        <div class="mp-fm-details">
            <h3 class="movie-info">{{movie.Title}}</h3>
            <p class="movie-info"><i class="fa fa-file"></i>{{movie.Type}}</p>
            <p class="movie-info"><i class="fa fa-star"></i>{{movie.Rated}}</p>
            <p class="movie-info"><i class="fa fa-calendar"></i>{{movie.Year}}</p>
            <p class="movie-info"><i class="fa fa-trophy"></i>{{movie.Awards}}</p>
            <div class="m-t-3 movie-info">
                <i class="fa fa-film"></i><label>Genre</label>
                <ul class='mp-item-list mp-genre'>
                    <li *ngFor="let g of movie.Genre">{{g}}</li>
                </ul>
            </div>
            <div class="m-t-3 movie-info">
                <i class="fa fa-film"></i><label>Actors</label>
                <ul class='mp-item-list mp-actors'>
                    <li *ngFor="let a of movie.Actors">{{a}}</li>
                </ul>
            </div>
            <div class="m-t-3 movie-info">
                <i class="fa fa-pencil"></i><label>Writer</label>
                <ul class='mp-item-list mp-writer'>
                    <li *ngFor="let w of movie.Writer">{{w}}</li>
                </ul>
            </div>
            <div class="m-t-3 movie-info">
                <i class="fa fa-film"></i><label>Director</label>
                <p>{{movie.Director}}</p>
            </div>
            <div class="m-t-3 movie-info">
                <i class="fa fa-book"></i><label>Plot</label>
                <p>
                    {{movie.shortPlot}}
                    <span class="mp-more-less-link" (click)="showMoreLess(movie, $event)">Show More</span>
                </p>
                
            </div>
            <button class="mp-booknow">Book Now</button>
        </div>
    </div>

    <h4 class="notFound" *ngIf="pageNotFound">The movie you are trying to search is not available at the moment..!</h4>
</section>
