@import './../../../assets/variable';

.mp-search-results {
    .mp-back-nav {
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        float: right;
        a, label {
            cursor: pointer;
        }
        
    }
    .mp-more-less-link {
        color: #72d4fb;
        text-decoration: underline;
        cursor: pointer;
    }
}
