<header>
  <h1>
    <a href="/">
      <img src="./../assets/images/logo_white.png" title="Movie Please" alt="Movie Please" width="100"/>
    </a>
  </h1> 
  <search-bar (searchEvent)="handleSearch($event)"></search-bar>
</header>
<router-outlet></router-outlet>

