@import './../assets/variable';

header {
    h1 {
        // background: linear-gradient(to top, rgba(255,0,0,0), $base-bgColor);
        img {
            width: 150px;
            padding: 1rem;
            display: inline-block;
        }
    }
}