/* COMMON STYLING GOES HERE */
.m-t-3 { margin-top: 3%}
.m-t-5 { margin-top: 5%}
.m-t-10 { margin-top: 10%}
.m-t-15 { margin-top: 15%}
.m-t-20 { margin-top: 20%}
.m-t-25 { margin-top: 25%}

.m-b-5 { margin-bottom: 5%}
.m-b-10 { margin-bottom: 10%}
.m-b-15 { margin-bottom: 15%}
.m-b-20 { margin-bottom: 20% }
.m-b-25 { margin-bottom: 25%}

.m-l-5 { margin-left: 5%}
.m-l-10 { margin-left: 10%}
.m-l-15 { margin-left: 15%}
.m-l-20 { margin-left: 20% }
.m-l-25 { margin-left: 25%}

.m-r-5 { margin-right: 5%}
.m-r-10 { margin-right: 10%}
.m-r-15 { margin-right: 15%}
.m-r-20 { margin-right: 20% }
.m-r-25 { margin-right: 25%}


.mp-movies-wrap {
    padding: 2%;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    margin-bottom: 5%;
    border-radius: 2px;
    box-shadow: 0 0 5px #000;
    width: 96%;

    h2 {
        padding-bottom: 25px;
    }
    h4.notFound {
        text-align: center;
        font-size: 30px;
        padding: 70px;
    }
    .mp-movie-tile {
        width: 100%;
        float: left;
        margin-bottom: 25px;
        border-bottom: 1px solid #293d4e;
        padding-bottom: 5%;
    
        &:last-child {
            border-bottom: none;
        }
        figure {
            width: 30%;
            float: left;
            img {
                max-width: 100%;
            }
        }
        .mp-fm-details {
            width: 65%;
            float: right;
            h3, p, ul {
                padding: 5px 0;
                li { list-style: circle; margin-left: 40px;}
            }
            .mp-booknow {
                border: none;
                background: #bd032d;
                color: #fff;
                padding: 10px;
                margin: 15px 0;
                border-radius: 3px;
                border-bottom: 2px solid #480111;
    
                &:active { 
                    box-shadow: 0 2px 2px #480111 inset;
                    transform: translateY(2px)
                }
            }
            
        }
    }
}


