@media only screen and (min-width: 300px) and (max-width: 599px) { /*smaller devices*/ 
    .mp-wrapper {
        width: 100%!important;
    }
    .mp-search-bar {
        width: 90%!important;
    }
}
